<template>
  <v-container>
    <v-layout>
      <v-row>
        <v-col>
          <v-row>
            <v-text-field
              v-model="name"
              label="Table name"
              required
            ></v-text-field>
          </v-row>

          <v-row
            v-for="columnFamily in columnFamilyList"
            :key="columnFamily.id"
          >
            <v-col cols="11" style="padding: 0">
              <v-text-field
                v-model="columnFamily.name"
                label="Column family name"
              ></v-text-field>
            </v-col>
            <v-col cols="1" style="padding: 0">
              <v-btn icon style="margin: 0" @click="deleteColumnFamily(columnFamily)">
                <v-icon>delete_forever</v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-btn
              color="success"
              class="mr-4"
              @click="addColumnFamily"
              prepend-icon="add"
            >
              Add column family
            </v-btn>

            <v-btn
              color="primary"
              @click="submit()"
            >
              Submit
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-layout>
  </v-container>
</template>

<script>
import ApiService from '../common/api.service';
// @ is an alias to /src
// import ApiService from '../common/api.service';

export default {
  name: 'home',

  mounted() {
    // this.tableName = this.$route.params.tableName;

    // ApiService.get('/' + this.tableName + '/schema')
    // .subscribe(result => {
    //   console.log(result.data.ColumnSchema);
    // });

    // ApiService.overridePut('http://localhost:8000/api/createScanner/' + this.tableName)
    // .subscribe(result => {
    //   console.log(result.data.Location);
    //   this.nextScannerLocation = result.data.Location;
    // });
    
  },

  computed: {

  },

  data: () => ({
    tableName: null,
    nextScannerLocation: null,
    columnFamilyList: [
      {
        id: 0,
        name: ''
      }
    ],
    name: ''
  }),

  methods: {
    addColumnFamily() {
      this.columnFamilyList.push({id: this.columnFamilyList.length, name: null})
    },
    deleteColumnFamily(toBeDeleted) {
      if(this.columnFamilyList.length <= 1) return;
      this.columnFamilyList = this.columnFamilyList.filter(item => {
        return item.id != toBeDeleted.id;
      });
    },
    submit() {
      // let xml = '<?xml version="1.0" encoding="UTF-8"?>';
      // xml += `<TableSchema name="${this.name}">`
      // for (let i = 0; i < this.columnFamilyList.length; i++) {
      //   const element = this.columnFamilyList[i];
      //   xml += `<ColumnSchema name="${element.name}"/>`
      // }
      // xml += `</TableSchema>`

      let tableSchema = {
        name: this.name,
        ColumnSchema: []
      };

      for (let i = 0; i < this.columnFamilyList.length; i++) {
        const element = this.columnFamilyList[i];
        let newObj = {
          name: element.name
        };
        tableSchema.ColumnSchema.push(newObj);
      }

      ApiService.put('/' + this.name + '/schema', JSON.stringify(tableSchema))
      .subscribe(result => {
        console.log("=======asdfasdf========");
        console.log(result);
      })

      // ApiService.overridePost('http://localhost:8000/api/createTable/' + this.name, {xmlRequest: xml})
      // .subscribe(result => {
      //   console.log(result);
      // });
    }
  }
}
</script>
