<template>
  <v-container v-if="!reRenderFlag">
    <div style="display: none">{{isTableChanged}}</div>
    <v-layout class="text-center">
      <p class="headline text-center w-100">{{tableName}}</p>
    </v-layout>

    <!-- <table class="table" v-if="tableData">

      <tr id="header">
        <th>
          Row Key
        </th>
        <th
          v-for="(columnFamily,id) in columnSchema"
          :key="id"
        >{{columnFamily.name}}</th>
      </tr>
      <tr
        v-for="(data, id) in tableData"
        :key="id"
      >
        <td
          :rowspan="data.value.length"
        >
          {{data.key}}
        </td>
        <td>asdf</td>
      </tr>
    </table> -->
    <v-divider></v-divider>

    <p class="headline">Content</p>
    <v-layout class="border border-primary pl-3 pr-3">
      <v-row>
        <v-col>
          <v-row id="header">
            <v-col cols="3">
              Row Key
            </v-col>
            <!-- <v-col
              v-for="(columnFamily,id) in columnSchema"
              :key="id"
            >{{columnFamily.name}}</v-col> -->
            <v-col>Columns</v-col>
            <v-col>Timestamp</v-col>
          </v-row>
          <v-divider></v-divider>
          <v-row
            v-for="(data, id) in tableData"
            :key="id"
          >
            <v-col cols="3">
              {{convert(data.key)}}
            </v-col>
            <v-col>
              <v-row
                v-for="(value,valueId) in data.value"
                :key="valueId"
              >
                <v-col>
                  {{convert(value.column)}} = {{convert(value.$)}}
                </v-col>
                <v-col>
                  {{value.timestamp}}
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

    </v-layout>
    
    <v-divider></v-divider>

    <p class="headline">Query builder</p>

    <v-layout v-if="!queryResult">
      <v-row>
        <v-col>
          <v-row>
            <v-col cols="4">
              Table name
            </v-col>
            <v-col>
              <v-text-field
                label="Tabel name"
                v-model="queryTableName"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="4">
              Row key
            </v-col>
            <v-col>
              <v-text-field
                label="Row key"
                v-model="queryRowKey"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="4">
              Column Family/Column
            </v-col>
            <v-col>
              <v-text-field
                label="Column Family"
                v-model="queryColumn"
              ></v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                label="Column"
                v-model="queryQualifier"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="4">
              Timestamp
            </v-col>
            <v-col>
              <v-text-field
                label="Timestamp"
                v-model="queryTimestamp"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-btn
              color="primary"
              block
              @click="getQuery"
            >
              Submit Query
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
      
    </v-layout>

    <v-layout v-else>
      <p class="subtitle">Query for: {{query}}</p>
      <p class="subtitle">Result: {{convert(queryResult.Row[0].Cell[0].$)}}</p>
    </v-layout>

    <v-divider></v-divider>

    <v-flex>
      <p class="headline">Add Row</p>
      <v-row>
        <v-col style="padding-top: 37px; padding-left: 25px" cols="3">Row key:</v-col>
        <v-col style="padding-right: 25px">
          <v-text-field
            label="Row Key"
            v-model="rowKey"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-card v-for="(columnFamily,id) in columnSchema" :key="columnFamily.name"
        style="margin: 20px 0px"
      >
        <v-card-title>
          {{columnFamily.name}}
        </v-card-title>
        <v-row
          style="padding: 0px 20px"
          v-for="columnItem in columnSchema[id].toBeAdded"
          :key="columnItem.name"
        >
          <v-col>
            <v-text-field
              v-model="columnItem.name"
              label="Column"
            ></v-text-field>
          </v-col>
          <v-col>
            <v-text-field
              v-model="columnItem.value"
              label="Value"
            ></v-text-field>
          </v-col>
          <v-col cols="1" style="padding: 0">
            <v-btn icon style="margin: 0" @click="deleteColumn(columnFamily,columnItem)">
              <v-icon>delete_forever</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <v-card-actions>
          <v-btn @click="addColumn(columnSchema[id])">
            <v-icon>add</v-icon>
            Add Column
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
    <v-btn block @click="submit" color="primary">Submit</v-btn>
  </v-container>
</template>

<script>
// @ is an alias to /src
import ApiService from '../common/api.service';
import axios from 'axios';
// import { async } from 'rxjs/internal/scheduler/async';

export default {
  name: 'home',

  mounted() {
    this.tableName = this.$route.params.tableName;
    this.queryTableName = this.tableName;

    ApiService.get('/' + this.tableName + '/schema')
    .subscribe(result => {
      console.log(result.data.ColumnSchema);
      this.columnSchema = result.data.ColumnSchema;
      this.columnSchema.sort();
      this.columnSchema.status = true;
      for (let i = 0; i < this.columnSchema.length; i++) {
        this.columnSchema[i].toBeAdded = [
          {
            id: 0,
            column: '',
            value: ''
          }
        ];
        this.columnSchema[i].lastId = 0;
      }
    });

    let headers = {
      headers: {
        'Access-Control-Expose-Headers': 'Location',
        'Content-Type': 'text/xml',
        'Accept': 'application/json'
      }
    };

    ApiService.put('/' + this.tableName + '/scanner', '<Scanner batch="1"/>', headers)
      .subscribe(async function(result){
        let temp = [];
        let stat = true;
        let x;
        do {
          if (!stat) temp.push(x.data);
          x = await axios.get(result.headers.location)
          .then(result => {
            return result;
          });
          stat = false;
        } while (x.status == '200')
        let current = temp[0].Row[0].key;
        let tempObj = [];
        let res = [];
        for (let i = 0; i < temp.length; i++) {
          const element = temp[i];
          if (element.Row[0].key == current) {
            tempObj.push(element.Row[0].Cell[0]);
          } else {
            res.push({
              "key": current,
              "value": tempObj
            });

            tempObj = [];
            current = element.Row[0].key;
          }
        }
        res.push({
              "key": current,
              "value": tempObj
            });
        console.log(res);
        self.tableData = res;
      });

    // ApiService.overridePut('http://localhost:8000/api/createScanner/' + this.tableName)
    // .subscribe(result => {
    //   console.log(result.data.Location);
    //   this.nextScannerLocation = result.data.Location;
    // });
    
  },

  computed: {
    isTableChanged: function() {
      this.$route.params.tableName;
      this.refreshTable(this.$route.params.tableName);
      return true;
    },
    column(){
      // if(this.columnSchema[columnFamilyId] == null) return null
      for (let i = 0; i < this.columnSchema.length; i++) {
        this.columnSchema[i];
      }
      return this.columnSchema;
    }
  },

  data: () => ({
    tableName: null,
    nextScannerLocation: null,
    columnSchema: null,
    rowKey: null,
    reRenderFlag: false,
    tableData: {},
    queryTableName: '',
    queryRowKey: '',
    queryColumn: '',
    queryQualifier: '',
    queryTimestamp: '',
    queryResult: null
  }),

  methods: {
    getQuery(){
      this.query = `/${this.queryTableName}/${this.queryRowKey}/${this.queryColumn}:${this.queryQualifier}/${this.queryTimestamp}`;
      if(this.queryTimestamp == null) this.queryTimestamp = '';
      ApiService.get(`/${this.queryTableName}/${this.queryRowKey}/${this.queryColumn}:${this.queryQualifier}/${this.queryTimestamp}`)
      .subscribe(result => {
        console.log(result);
        this.queryResult = result.data;
      });
    },
    refreshQuery() {
      this.queryResult = null;
    },
    refreshTable(tableName) {
      this.tableName = tableName;
      this.reRenderFlag = true;

      ApiService.get('/' + this.tableName + '/schema')
      .subscribe(result => {
        console.log(result.data.ColumnSchema);
        this.columnSchema = result.data.ColumnSchema;
        this.columnSchema.sort();
        this.columnSchema.status = true;
        for (let i = 0; i < this.columnSchema.length; i++) {
          this.columnSchema[i].toBeAdded = [
            {
              id: 0,
              column: '',
              value: ''
            }
          ];
          this.columnSchema[i].lastId = 0;
        }
        this.reRenderFlag = false;
      });

      let headers = {
        headers: {
          'Access-Control-Expose-Headers': 'Location',
          'Content-Type': 'text/xml',
          'Accept': 'application/json'
        }
      };

      let self = this;

      ApiService.put('/' + this.tableName + '/scanner', '<Scanner batch="1"/>', headers)
      .subscribe(async function(result){
        let temp = [];
        let stat = true;
        let x;
        do {
          if (!stat) temp.push(x.data);
          x = await axios.get(result.headers.location)
          .then(result => {
            return result;
          });
          stat = false;
        } while (x.status == '200')
        let current = temp[0].Row[0].key;
        let tempObj = [];
        let res = [];
        for (let i = 0; i < temp.length; i++) {
          const element = temp[i];
          if (element.Row[0].key == current) {
            tempObj.push(element.Row[0].Cell[0]);
          } else {
            res.push({
              "key": current,
              "value": tempObj
            });

            tempObj = [];
            tempObj.push(element.Row[0].Cell[0]);
            current = element.Row[0].key;
          }
        }
        res.push({
              "key": current,
              "value": tempObj
            });
        console.log(res);
        self.tableData = res;
      });
    },
    scannerGet: async function(location){
      return await axios.get(location)
      .then(result => {
        return result.data;
      });
      // return data;
      // .subscribe(getResult => {
      //   console.log(getResult);
      //   return getResult;
      // });
    },
    addColumn(columnFam){
      let newCol = {
        id: columnFam.lastId + 1,
        column: '',
        value: ''
      };
      columnFam.lastId = columnFam.lastId + 1;
      columnFam.toBeAdded.push(newCol);
      console.log(this.columnSchema);
      this.columnSchema.sort();
    },
    deleteColumn(columnFamily, column){
      if(columnFamily.toBeAdded.length <= 1) return;
      columnFamily.toBeAdded = columnFamily.toBeAdded.filter(item => {
        return item.id != column.id;
      });
      this.columnSchema.sort();
    },
    convert(string) {
      return atob(string);
    },
    submit() {
      let data = {
        Row:[]
      };
      let row = {
            key: btoa(this.rowKey),
            Cell: []
          };
      for (let i = 0; i < this.columnSchema.length; i++) {
        let columnFamily = this.columnSchema[i].name;
        for (let j = 0; j < this.columnSchema[i].toBeAdded.length; j++) {
          const element = this.columnSchema[i].toBeAdded[j];
          let newObj = {
            column: btoa(columnFamily + element.column),
            '$': btoa(element.value)
          };
          row.Cell.push(newObj);
        }
      }
      data.Row.push(row);
      console.log(data);
    }
  }
}
</script>
