<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <!-- <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />
      </div> -->

      <v-spacer></v-spacer>

      <!-- <v-btn
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
        text
      >
        <span class="mr-2">Latest Release</span>
        <v-icon>open_in_new</v-icon>
      </v-btn> -->
      <v-layout>
        <v-row>
          Version: {{version}}
        </v-row>
      </v-layout>
    </v-app-bar>

    <v-content>
      <v-layout>
        <v-row :style="'height: ' + windowHeight + 'px'">
          <v-col
            cols="2"
            style="padding: 0; padding-left: 15px"
          >
            <v-navigation-drawer permanent>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title class="title">
                    Hbase
                  </v-list-item-title>
                  <v-list-item-subtitle>
                    Table list
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <v-divider></v-divider>

              <v-list
                dense
                nav
              >
                <v-list-item
                  link
                  @click="$router.push('/create-table')"
                >
                  <v-list-item-icon>
                    <v-icon>add</v-icon>
                  </v-list-item-icon>

                  <v-list-item-content>
                    <v-list-item-title>Create table</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>

                <v-list-item
                  v-for="item in items"
                  :key="item.title"
                  link
                  @click="showTable(item.name)"
                >
                  <v-list-item-icon>
                    <v-icon>storage</v-icon>
                  </v-list-item-icon>

                  <v-list-item-content>
                    <v-list-item-title>{{ item.name }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-navigation-drawer>
          </v-col>
          <v-col style="overflow-y: scroll">
            <router-view/>
          </v-col>
        </v-row>
      </v-layout>
    </v-content>
  </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld';
import ApiService from './common/api.service';

export default {
  name: 'App',

  created() {
    ApiService.init();

    ApiService.get('/version/cluster')
    .subscribe(result => {
      console.log("version");
      console.log(result);
      this.version = result.data;
    });

    ApiService.get('/status/cluster')
    .subscribe(result => {
      console.log("status");
      console.log(result);
    });

    ApiService.get('/')
    .subscribe(result => {
      console.log("table list");
      console.log(result.data.table);
      this.items = result.data.table;
    });
  },

  computed: {
    windowHeight: function() {
      return window.innerHeight - 64;
    }
  },

  data: () => ({
    status: null,
    version: null,
    items: [],
  }),

  methods: {
    showTable(tableName) {
      this.$router.push('/details/' + tableName)
    }
  }
};
</script>
